/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
  margin-bottom: 1em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
}

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.BlockHeader .t
{
	height: 30px;
	color: #f7f7f7;
	font-size: 14px;
	font-weight: bold;
	white-space : nowrap;
	line-height: 30px;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('../images/block/BlockHeader.png');
}

.BlockHeader .l
{
	left:0;
	right:6px;
}

.BlockHeader .r
{
	width:890px;
	right:0;
	clip: rect(auto, auto, auto, 884px);
}

/* end BlockHeader */

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.block .content /* Block's content wrapper */ {
	position: relative;
	z-index:1;
	padding: 3px;
}

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
}

.BlockContent-body
{
	color:#000000;
	font-size: 12px;
}

.BlockContent-body ul
{
	list-style-type: none;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-size: 12px;
	text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 5px;
	margin:0.5em 0 0.5em 10px;
	line-height:1.25em;
	list-style-type: none;
}

.BlockContent-body li a {
  color: #000;
  text-decoration: none;
}

.BlockContent-body li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #a10f15;
  padding: 0.25em;
  border: #a10f15 0px solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;  
}

/* end Box, BlockContent */


#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}
